<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script type="module"></script>
  </head>
  <body>
    <h1>mqtt-vue-contact-form</h1>
    <div id="MqttVueContactForm">
      <Component :mqtt-host="mqttHost" v-slot="slotProps">
        <label>Name:</label><br />
        <input v-model="slotProps.value.name" name="fullName" /><br />

        <label>Email:</label><br />
        <input v-model="slotProps.value.email" name="email" /><br />

        <label>Message:</label><br />
        <textarea v-model="slotProps.value.message" name="message"></textarea
        ><br />

        <button @click="slotProps.submit">Submit</button><br />
      </Component>
    </div>
  </body>
  <script type="module">
    // import Component from "https://unpkg.com/@trx-base/mqtt-vue-contact-form";  //production
    import Component from "./dist/component.js";
    Vue.createApp({
      components: { Component },
      data() {
        return {
          mqttHost: "wss://public.trxbroker.org/mqtt",
        };
      },
    }).mount("#MqttVueContactForm");
  </script>
</html>
