<html>
  <head>
    <script src="https://unpkg.com/vue@v3.2.47"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script type="module"></script>
  </head>
  <body>
    <h1>mqtt-vue-contact-form</h1>
    <div id="MqttVueContactForm">
      <Component :mqtt-host="mqttHost" v-slot="slotProps">
        <label for="fullName">Name:</label><br />
        <input v-model="fullName" name="fullName" /><br />

        <label for="email">Email:</label><br />
        <input v-model="email" name="email" /><br />

        <label for="message">Message:</label><br />
        <textarea v-model="message" name="message"></textarea><br />

        <button @click="slotProps.submit(fullName, email, message)">
          Submit
        </button>
      </Component>
    </div>
  </body>
  <script type="module">
    import Component from "./dist/component.js";
    Vue.createApp({
      components: { Component },
      setup() {
        const mqttHost = "public.trxbroker.org:1833";
        const mqttClient = mqtt.connect("ws://public.trxbroker.org:9001/mqtt ");
        const fullName = "";
        const email = "";
        const message = "";
        return { mqttHost, fullName, email, message };
      },
    }).mount("#MqttVueContactForm");
  </script>
</html>
